<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= @num_users %> registered</p>
<p><%= link_to 'Events:', events_path %> <%= @num_events %> created</p>
<p><%= link_to 'Create an Event', :controller => 'events', :action => 'new' %></p>